*{
  margin: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif
}
nav{
  height: 10vh;
  font-weight: 550;
  background-color:gold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
a{
  text-decoration: none;
  color: red;
}
div>h1{
  height: 70vh;
  display: flex;
  border: 10px solid;
}
h1{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.active{
  color: black;
}